.imageProjectsSection
  display: grid
  grid-template-columns: auto auto

.image
  width: 100%
  height: 700px
  position: relative


.imageProjectStyle
  width: 100%
  display: block
  height: 700px
  object-fit: cover

.imageOverlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0 ,0 ,0.5)
  display: flex
  justify-content: center
  align-items: flex-end
  opacity: 0
  cursor: pointer
  transition: opacity 0.25s
  &:hover
    opacity: 1

.imageTitle
  margin-bottom: 32px  
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

 