@import './variables.scss';

h1 {
  font-size: $large-light;
  font-family: $bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $regular;
  color: $primary;
}
h1 {
  font-family: $bold;
  color: $primary;
}

p {
  font-family: $light;
}