/* ============= Colors ============= */
$primary: #1D263A;
$secondary: #1D263A;
$offwhite: #213053;
$light: #FFFFFF;
$surface: rgba(223, 223, 223, 0.7);
/* ============= Fonts family ============= */
$bold: "MazzardBold";
$regular: "MazzardRegular";
$light: "MazzardLight";
$medium: "MazzardMedium";
$semi-bold: "MazzardSemiBold";
/* ============= General ============= */
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 32px;
$large-light: 3.857rem; // 40px
$medium-bold: 1.214rem; // 17px
$medium-light: 0.785rem; // 11px
$regular-size: 1rem; // 14px
$button-text: 0.928rem; // 13px

/* ============= Breakpoints ============= */
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;