/* ============= Colors ============= */
$primary: #1D263A;
$secondary: #1D263A;
$offwhite: #213053;
$light: #FFFFFF;
/* ============= Fonts family ============= */
$bold: "OpenSansBold";
$regular: "OpenSansRegular";
$light: "OpenSansLight";
/* ============= General ============= */
$large-bold: 2.857rem; // 40px
$large-light: 1.785rem; // 25px
$medium-bold: 1.214rem; // 17px
$medium-light: 0.785rem; // 11px
$regular-size: 1rem; // 14px
$button-text: 0.928rem; // 13px