@import "../../../scss/variables.scss";

.container {
  width: 90%;
  border-radius: $border-radius-sm;
  border: 1px solid $surface;
  padding: 8px;
  height: 320px;
}

.peopleWrapper {
  padding-left: 16px;
  padding-top: 8px;
  width: 134px;
  height: 134px;
}

.peopleImage {
  width: 134px;
  height: 134px;
  border-radius: $border-radius-sm;
  object-fit: cover;
}

.detailsWrapper {
  padding-top: 16px
}

.descriptionContainer {
  height: 90px
}

.name {
  font-size: 24px;
  font-family: $regular;
}

.job {
  font-size: 18px;
  font-family: $semi-bold;
  padding-bottom: 8px;
  padding-top: 2px;
}
.description {
  line-height: 1;
  font-size: 16px;
  font-family: $regular;
}

.detailsContainer {
  margin-left: 16px;
  padding-top: 16px;
}