@import "../../../scss/variables.scss";

.container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid $surface;
  font-family: $regular;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 400px;
}